@font-face {
  font-family: 'Batch';
  src: url(../fonts/batch-icons-webfont.woff) format('woff');
}

@dark-color: #131313;
@concept-list-width: 64px;
@concept-list-padding: 12px;
@instance-list-width: 150px;
@instance-list-padding: 12px;

//this sucks, remove
@h: `$.trim( $(window).height() ) + 'px'`;
@window-height: 0px + @h;

body {
    font-family: Helvetica Neue;
}

.border-right {
    border-right: 1px solid @dark-color;
}

.border-bottom {
    border-bottom: 1px solid @dark-color;
}

.full-height {
    //height: @window-height;
}

.icon {
    font-family: Batch;
}

a {
    text-decoration: none;
    color: @dark-color;
}

a:hover {
    color: lighten(@dark-color, 30%);
}

#concept-list {
    width: @concept-list-width;
    left: 0;
    top: 0;
    float: left;
    .full-height;
    .border-right;
    .border-bottom;

    li {
        cursor: pointer;
        font-size: 30px;
        padding: @concept-list-padding;
        background: white;
        color: @dark-color;
    }

    li.selected {
        color: white;
        background: @dark-color;
        font-weight: normal;
    }
}

#instance-list {
    width: @instance-list-width;
    left: @concept-list-width;
    top: 0;
    float: left;
    .full-height;
    padding: @instance-list-padding;

    li {
        background: #E3E3E3;
        border-radius: 18px;
        color: black;
        font-weight: bold;
        padding: 9px 16px;
        cursor: pointer;
        margin-bottom: 9px;
        border: 1px solid #ccc;
    }

    li.selected {
        background: @dark-color;
        border: 1px solid white;
        color: white;
    }
}

#editor {
    overflow: hidden;
    width: auto;
    .full-height;

    .header {
        padding: 12px;
        background: black;
        color: white;
        font-size: 18px;

        .name {
            font-weight: bold;
        }

        .icon {
            margin-right: 6px;
        }
    }

    li.field {
        padding: 12px;
        border-bottom: 1px solid @dark-color;
        border-left: 1px solid @dark-color;
        border-right: 1px solid @dark-color;

        label {
            font-weight: bold;
            padding-right: 12px;
        }
    }

    li.field.body-field {
        padding: 0;

        .label-container {
            padding: 12px;
        }
    }

    input.field-input {
        border: 1px solid #ccc;
        font-family: monospace;
        font-size: 16px;
        padding: 6px; 
    }

    input.field-input:focus {
        border-color: @dark-color;
        box-shadow: 0 1px 3px #aaa;
    }

    .add-style-link {
        font-size: 22px;
    }
    
    .style-selector {
        width: 80%;
    }

    .style-name {
        font-weight: bold;
    }

    .layout {
        width: 150px;
    }

}

.style-icon {
    margin-right: 6px;
}
